*.o
*.out
*.exe
*.ko
*.mod
*.mod.c
*.cmd
*.symvers
Module.symvers
modules.order
.tmp_versions/
*.log
*.tmp
core
basic/*/scheduler
basic/*/memory
basic/*/sync
basic/*/filesystem
basic/scheduler/scheduler
basic/memory/memory
basic/sync/sync
basic/filesystem/filesystem
extension/oslab_monitor/user/oslabctl
